
@{
    ViewBag.Title = "index";
}

<div class="row col-12-xs">
    <h2>Reports</h2>
</div>

<div class="row col-12-xs margin-top">
    @Html.ActionLink("Inventory Reports", "inventory", null, null)
</div>

<div class="row col-12-xs margin-top">
    @Html.ActionLink("Sales Reports", "sales", null, null)
</div>

